/***************************************************************************/
/*
/* Common
/*
/***************************************************************************/
html {
  background-color: #FAFAFA;
  /* background-color: #34A1DC; */
  font-size: 10px;
}

body {
  height: 100%; 
  margin: 0 auto;  
  font-family: "Open Sans", sans-serif;
  line-height: 1.5em;
  font-size: 1.2em;
  text-align: center;
}

strong {
  color: #18a0dd;
  font-weight: 700;
}
span.highlight {
  color: #ff852b;
  border-bottom: 0.15em dashed;
}
span.underline {
  border-bottom: 0.15em dashed;
}

/***************************************************************************/
/* Header
/***************************************************************************/

header {
  margin: 0 auto;
  padding: 1em;

  text-align: right;
  font-size: 1.2em;

  background: #fff;
  background-image: url("/images/furaha-logo-white.jpg");
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: 1em;

  max-width: 60em;
  height: 5em;
  line-height: 1.5em;

  border: 1px solid red;
}
header div {
  margin: 0; 
  padding: 0 ;
  font-weight: 900;
  font-size: 1.2em;
}
header div a {
  text-decoration: none;
  color: #18a0dd;
}
header div a:hover {
  text-decoration: none;
  color: #ff852b;
  border-bottom: 0.1em dashed;
}

/***************************************************************************/
/* div tagline
/***************************************************************************/

div.tagline {
  background-color: #5e5e5e;
  color: white;
  font-weight: 700;
  font-size: 1.4em;
  margin: 0;
  padding: 1em;
  text-align: center;
}

/***************************************************************************/
/* div main
/***************************************************************************/

div#main {
  margin: 0 auto;
  padding: 1em;
  background-color: white;
  display: block;
  max-width: 60em;
  text-align: left;
  border: 1px solid red;
  font-size: 1.2em;
}
div#main img {
  width: 100%;
}
div#main h2 {
  font-size: 2.4em;
  font-weight: 900;
  padding: 0.5em 0;
  line-height: 1em;
}
div#main h2 img {
  width: 2em; 
}

/***************************************************************************/
/* div content
/***************************************************************************/
/***************************************************************************/
/* div wufoo
/***************************************************************************/

div#wufoo {
    background-color: #c8c8c8;
    padding: 1%;
    margin: 0;
}
@media screen and (min-width: 48em) {
  div#main {
    overflow: auto;
  }
  div#content {
    width: 30em;
    float: left;
  }
  div#wufoo {
    float: right;
    width: 26em;
  }
}

/***************************************************************************/
/* footer
/***************************************************************************/

footer {
  font-size: 75%;
  color: #6EDBFF;
  background-color: #9E5B15;
  margin: 0;
  display: block;
  clear: both;
}

#footer-image{
  display: block;
  width: 100%;  
}
.clearfx{
  clear: both;
}

form#form1 #header {
  display:none;
}
form#form1 .btTxt {
  /* add button styling here */
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  width: 100%;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
