/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
html {
  background-color: #FAFAFA;
  /* background-color: #34A1DC; */
}

body {
  height: 100%; 
  max-width: 60em;
  margin: 0 auto;  
  /* font-family: lato,Calibri,Arial,sans-serif;*/
  /*font-family:"Open Sans Condensed Light" ;*/
  font-family: "ronnia", sans-serif;
  line-height: 1.5em;
  font-size: 105%;
  background: #f3f3f3;
}

header {
  margin: 0 0;
  padding: 0 3em;
  text-align: right;
  display: block;
  overflow: auto;
  line-height: 2em;
  font-weight: 900;
  font-size: 85%;
  background: #fff;
}
header img {
  float: left;
  height: 4em;
  margin: 0 0 0 1ex;
  padding: 0;
}
header span {
  white-space: nowrap;
  margin: 0 0.5em;
  display: block;
}
header div {
  margin: 0; 
  padding: 0 1ex 0 0;
}
header a {
  text-decoration: none;
  color: #000;
}
section.tagline {
  background-color: #5e5e5e;
  margin: 0 auto;
  padding: 1ex;
  text-align: center;
}
section#content {
  width: 85%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 2em .5ex 2em;
  display: block;
}
#form{
  float:right;
  width:30%;
  height: auto;
  background-color: #c8c8c8;
  padding: 1ex;
  margin: 1ex;
  display: block;
}
#text{
  float:right;
  width:65%;
  height:auto;
}
.clearfx{
clear: both;
}
form#form1 #header {
  display:none;
}
form#form1 .btTxt {
  /* add button styling here */
}
#developers-image{
  width: 30%;
  height: auto;
  float: right;
}
#rails-image{
  width: 15%;
  height: auto;
  float: left;
}
.image{
  padding: 1em;
}
nav {
  text-align: right;
  margin: 1ex auto;
}
nav a {
  color: #000;
  text-decoration: none;
  margin: 0 1em;
}
section {
  background-color: #fff;  
  text-align: justify;
  display: block;
}
footer {
  font-size: 75%;
  color: #6EDBFF;
  background-color: #9E5B15;
  margin: 0;
  display: block;
}

#footer-image{
  display: block;
  width: 100%;  
}
h1, h2, h3, h4, h5, h6 {
  font-size: 120%; 
  font-weight: bold;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  width: 100%;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
