<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">

    <!-- favicon -->
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  </head>
  <body>
    <header>
      <img src="/images/furaha-logo-white.jpg" />
      <div>
        <a href="mailto:sales@furahasoftware.com">sales@furahasoftware.com</a>
      </div>
      <div> (775)773-8724 </div>
    </header>
    <section id="tagline">
    Ruby on Rails developers
    </section>
    <nav>
    <a>Who we are</a>
    <a>What we do</a>
    <a>Our blog</a>
    <a>How can we be of service</a>
    </nav>

    <section>
    {{ content }}
    </section>

    <footer>
    </footer>
  </body>
</html>
