<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">

    <!-- font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:light&v1' rel='stylesheet' type='text/css'>
    <!-- favicon -->
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  </head>
  <body>
    <header>
	<div>
		<a href="/index.html"><img src="/images/furaha-logo-white.jpg" /></a>
	</div>
	<div>
      <span>
        <a href="mailto:sales@furahasoftware.com">sales@furahasoftware.com</a>
      </span>
      <span> (775)773-8724 </span>
	</div>
    </header>
    <section id="tagline">
    Building scalable web based applications with award winning technologies
    </section>
    <nav>
    <a href="/whoweare.html">> Who we are</a>
    <a href="/whatwedo.html">> What we do</a>
    <a href="/blog.html">> Our blog</a>
    <a href="/service.html">> How can we be of service</a>
    </nav>

    <section id="content">
    {{ content }}
    </section>

    <footer>
    </footer>
  </body>
</html>
