<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width" />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/syntax.css" />
    <link rel="stylesheet" href="/css/main.css" />

    <!-- font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:light&v1' rel='stylesheet' type='text/css' />
    <!-- favicon -->
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <script type="text/javascript">
      var z1ae3l30g95j5g;(function(d, t) {
      var s = d.createElement(t), options = {
      'userName':'furahasoftware',
      'formHash':'z1ae3l30g95j5g',
      'autoResize':true,
      'height':'497',
      'async':true,
      'host':'wufoo.com',
      'header':'show',
      'ssl':true};
      s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
      s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try { z1ae3l30g95j5g = new WufooForm();z1ae3l30g95j5g.initialize(options);z1ae3l30g95j5g.display(); } catch (e) {}};
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
      })(document, 'script');
    </script>
  </head>
  <body>
    <header>
      <div>
        <a href="/index.html"><img src="/images/furaha-logo-white.jpg" /></a>
      </div>
      <div>
        <span> (775)773-8724 </span>
        <span>
          <a href="mailto:sales@furahasoftware.com">sales@furahasoftware.com</a>
        </span>      
      </div>
    </header>
    <section class="tagline">
      Building scalable web based applications with award winning technologies
    </section>    
    <section id="content">
      <h1>
        When you employ Furaha, you're giving our team a better life and getting a great product in return
      </h1>

      <div id="text">	
        <div id="form">
          <div id="wufoo-z1ae3l30g95j5g">
            Fill out my <a href="https://furahasoftware.wufoo.com/forms/z1ae3l30g95j5g">online form</a>.
          </div>
          <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Online contact and registration forms from <a href="http://www.wufoo.com">Wufoo</a>.</div>
        </div>	
        <p>
          <img id="developers-image" class="image" src="/images/Furaha-Software-Developers-Africa.jpg" alt="Developers">
            Everyone on our Furaha team is based in Africa. They started off as Computer Science graduates. From there, we helped further their education with hands-on training from developers with over 20 years of experience. Furaha was created specifically to help provide working opportunities for Africans interested in developing technologies. Our team is smart, grateful and they're building awesome professional products.
          </p>
          <!-- <h1>
      We use award winning technologies so that your product is top of the line
    </h1>
    <p>
      <img id="rails-image" class="image" src="/images/Furaha-Software-Ruby-Rails-Tools-Africa-Business.png" alt="Rails">
      Everyone on our Furaha team is based in Africa. They started off as Computer Science graduates. From there, we helped further their education with hands-on training from developers with over awesome professional products. Everyone on our Furaha team is based on Africa. They Started off as Computer Science graduates.
    </p>
    <p>
      {{ content }}
    </p> -->
  </div>		
  <div class="clearfx">
  </div>
</section>
<section class="tagline">
  FURAHA is Swahili for JOY
  <span>Coding brings us much happiness and in return it is providing better lives and great products</span>
</section>
<footer>
  <img id="footer-image" src="/images/Furaha-Software-Elephants-Africa.jpg" alt="Elephants-Africa">
  </footer>

</body>
</html>
